<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario 1</title>
    <link rel="stylesheet" href="../css/mi-estilo-1.css">
</head>
<body>
    <form action="#" id="contacto">
        <div>
            <div>
                <h2>Bienvenido</h2>
            </div>
            <div>
                <input type="text" name="nombre" placeholder="Nombre" id="">
            </div>
            <div>
                <input type="email" name="correo" placeholder="Correo" id="">
            </div>
            <div>
                <textarea name="mensaje" placeholder="Mensaje" id="" cols="30" rows="10"></textarea>
            </div>
            <div>
                <button id="submit" >Enviar</button>
            </div>
        </div>
    </form>
</body>
</html>