<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="../js/Arrays.js"></script>
  <title>Arrays</title>
</head>
<body>
  <form>
    <div>
      <label for="numero">Numero: </label>
      <input type="number" name="numero" id="numero">
    </div>  
    <div>
      <button id="btn1" type="button">boton1</button>
    </div>
  </form>
  <table id="resultado" border="1px"></table>
</body>
</html>