<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/ejemplo-2.css">
    <title>Document</title>
</head>
<body>
    <form action="#" method="POST">
        <div>
            <label for="numero1">Numero 1</label>
            <input type="number" name="numero1" id="numero1" required>
        </div>
        <div>
            <label for="numero2">Numero 2</label>
            <input type="number" name="numero2" id="numero2" required>
        </div>
        <div>
            <label for="result">Resultado: </label>
            <input type="number" name="result" id="result" readonly>
        </div>
        <div>
            <button id="calcular" type="button">Calcular</button>
        </div>
    </form>
</body>
<script src="../js/ejemplo-2.js"></script>
</html>